# Express Server Configuration
PORT=5000

# SMTP Nodemailer Settings (Optional - Add your credentials to send real emails)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=your-email@gmail.com
SMTP_PASS=your-app-password
ADMIN_EMAIL=admissions@learnpro.edu
